#main{
    background-image: url('../images/weather.jpg');
    height: 100%;
    background-repeat: no-repeat;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#icons{
    /* margin: 30px; */
    color: darkkhaki;
}
#icon{
    margin: 30px;
    color: white;
}
